/* Existen diferentes PSEUDOS CLASES que dependen de las acciones del usuario */
/* :hover --> Cuando el usuario pasa el mouse sobre el elemento */
/* :active --> Cuando el usuario hace click en el elemento */
/* :checked --> Cuando el usuario selecciona un input */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
body {
    font-family: "Poppins", serif;
    background-color: #c28b15;
}

#seleccionar-mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo {
    color: white;
    font-size: 45px;
    font-family: "Montserrat", serif;
}

.subtitulo{
    color: white;
    font-size: 30px;
}

.tarjetas, .tarjetas-ataques {
    display:flex;
    gap:10px;
}

.tarjeta-de-mokepon {
    width: 180px;
    height: 100px;
    background: rgb(253, 73, 73);
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    display:flex;
    color: white;
    align-items: center;
    justify-content: center;
    cursor:pointer;
    /*margin: 10px; --> Margen (cuadro más externo */
    /*border: 1px solid hotpink; ---> Color de la margen*/
    transition: 0.7s;
}

.tarjeta-de-mokepon:hover{
    transform: scale(1.1);
}

#boton-seleccionar {
    width: 180px;
    height: 40px;
    border-radius: 20px;
    background: #eb503f;
    border: 2px solid #eb503f;
    color: white;
    font-family: "Poppins", serif;
    margin-top: 20px;  /*margin-(top,right,left) o margin: 10px 10px 10px 10px*/
    transition:0.7s;
}

#boton-seleccionar:hover{
    transform: scale(1.1);
    background-color:white;
    color:black;
}


.tarjeta-de-mokepon img {
    width: 80px
}

input {
    display: none
}



input:checked + label {
    background-color: #131311;
}

#seleccionar-ataque {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boton-de-ataque {
    background-color: rgb(253, 73, 73);
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    border-color: transparent;
    width: 100px;
    color: white;
    font-family: "Poppins", serif
    
}

#mensajes {
    width: 280px;
    background-color: rgb(253, 73, 73);
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#reiniciar {
    border: none black;
    background-color: rgb(253, 73, 73);
    color: white;
    font-family: 'Poppins', serif;
}

.ataques {
    display: grid;
    grid-template-columns: 150px 150px;
}

.ataques-jugador, .ataques-enemigo {
    display: flex;
    flex-direction: column;
    align-items:center;
    background-color: white;
    /* EDICION DEL 4/08/2025 */
    padding:20px;
    margin:20px;
    border-radius:20px;

}

@media (max-width: 360px) {
    .tarjetas, .tarjetas-ataques {
        flex-direction: column;
    }
}