/* Inicia mi documento CSS */

    /* Edición del 04/08/2025 */
    /* Edición del 30/01/2025 */




        /* Existen diferentes PSEUDOS CLASES que dependen de las acciones del usuario */

        /* :hover --> Cuando el usuario pasa el mouse sobre el elemento */
        /* :active --> Cuando el usuario hace click en el elemento */
        /* :checked --> Cuando el usuario selecciona un input */

/* Font - Family Tipografía */
    @import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');


/* Estilos */

body {
    font-family: "Fascinate", system-ui;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    background: linear-gradient(135deg, var(--color-third), var(--color-second));
}

button {
    font-family: "Fascinate", system-ui;
}







/* variables */

:root {
    /* Colores */
    --color-primary: #1E90FF;
    --color-second: #557D96;
    --color-third: gray;
    --background-early-color: rgb(221, 221, 221);

    /* Letras y Fuentes */
    --tipografia: "Fascinate", system-ui;
}






#seleccionar-mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}






.titulo {
    color: var(--background-early-color);

    /* Decidi que fuera grande por el poco contenido en la sección inicial, pero queda responsive pendiente. */
    font-size: 100px;
    font-family: var(--tipografia);

    /* Inclina el texto mucho más que font-style: italic; */
    font-style: oblique;

    /* La sombra del texto: el primer pixel es horizontal, el segundo es vertical y el tercero es difuminado. Luego sigue el color. */
    text-shadow: 8px 8px 10px var(--color-second);

    margin-bottom: 0;
}

.subtitulo{
    color: var(--background-early-color);
    font-size: 50px;
    font-weight: 600;
    text-shadow: 4px 4px 6px var(--color-second);
}






.tarjetas, .tarjetas-ataques {
    display:flex;
    margin: 10px;
    gap:10px;
}

.tarjeta-de-mokepon {
    width: 200px;
    height: 120px;

    padding: 10px;

    box-sizing: border-box;

    border:2px solid var(--color-second);
    border-radius: 5px;

    background: transparent;
    color: var(--background-early-color);


    display:flex;
    align-items: center;
    justify-content: center;

    cursor:pointer;
    /*margin: 10px; --> Margen (cuadro más externo */
    /*border: 1px solid hotpink; ---> Color de la margen*/
    transition: 0.7s all;
}

.tarjeta-de-mokepon:hover{
    border:2px solid white;
    box-shadow: 8px 8px 90px var(--color-second);
}

.tarjeta-de-mokepon img {
    width: 80px;
}

#boton-seleccionar {
    width: 200px;
    height: 60px;

    border-radius: 5px;

    background: transparent;
    box-shadow: 10px 10px 50px var(--color-second);

    border: 2px solid var(--color-second);
    color: white;

    cursor: pointer;

    font-family: var(--tipografia);

    margin-top: 20px;  /*margin-(top,right,left) o margin: 10px 10px 10px 10px*/

    transition:0.7s;
}

#boton-seleccionar:hover{
    transform: scale(1.1);
    background-color: var(--background-early-color);
    box-shadow: 8px 8px 50px var(--color-second);
    color:var(--color-second);
}

input {
    display: none
}

input:checked + label {
    border:2px solid var(--background-early-color);
    background-color: var(--background-early-color);
    color: var(--color-second);
}

#btn-home {
    margin-top: 20px;
    padding: 10px;
    text-decoration: none;
    color: var(--background-early-color);
    font-family: var(--tipografia);

    border:2px solid white;

    transition: 1s;
}

#btn-home:hover {
    transform: scale(1.3);
    font-weight: bold;
    box-shadow: 1px 1px 12px white;
}










/* Segunda Sección: Ataque */

#seleccionar-ataque {
    display: flex;
    flex-direction: column;
    align-items: center;
    background:linear-gradient(135deg, gray, var(--color-second));
}

/* Botones de Ataque */

    .boton-de-ataque {
        background-color: transparent;
        padding: 10px;
        box-sizing: border-box;

        border: 1px solid white;
        border-radius: 5px;

        width: 120px;
        color: white;

        font-family: var(--tipografia);
        font-size:15px;
        
        cursor: pointer;

        transition: 1s all;
    }

    .boton-de-ataque:hover {
        border-color: transparent;
    }

    /* Colores Individuales */

    #boton-fuego:hover {
        background-color: rgba(219, 133, 14, 0.9);
        box-shadow: 8px 8px 70px #ffec1e;
    }

    #boton-agua:hover {
        background-color: #539fb8;
        box-shadow: 8px 8px 70px #00BFFF;
    }
    #boton-tierra:hover {
        background-color: #50902a;
        box-shadow: 8px 8px 70px #1af01e;
    }

#mensajes {
    width: 280px;
    background-color: var(--background-early-color);

    color: var(--color-second);
    font-size: 20px;

    padding: 20px;
    margin-top: 20px;

    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#reiniciar {
    padding: 10px;

    border: 1px solid transparent;
    background-color: var(--color-second);

    color: var(--background-early-color);
    font-family: 'Poppins', serif;
    font-size: 15px;

    cursor: pointer;
    transition: 1s all;
}

#reiniciar:hover {
    background-color: var(--background-early-color);
    border:1px solid var(--color-second);
    color: var(--color-second);
}

.ataques {
    display: flex;
    /* grid-template-columns: 150px 150px; */

    margin: 10px;
}

.ataques-jugador, .ataques-enemigo {
    display: flex;
    flex-direction: column;
    align-items:center;
    background-color: var(--background-early-color);
    color: var(--color-second);

    width:200px;
    padding:20px;
    margin:20px;
    border-radius:5px;

}














 
/* Responsive Desing */

@media (max-width: 620px) {
    .tarjetas, .tarjetas-ataques {
        flex-direction: column;
    }
}

/* Otras adecuaciones responsive pendientes. */