/* Apuntes CSS

* { Define los estilos de cada elemento
    box-sizing: content-box;
    margin:1px;
    padding:1px;
}

h1{ Selector por Etiqueta
    color: blue;
}

h2{
    color:green;
}

.parrafo { Selector por clase
    color:tomato;
}

#unico {
    background-color:rgb(134, 205, 223);
}

.contenedor{
    border:2px solid blue;
}

.contenedor h2{ Selector por descendencia
    color:white;
}

button:hover {
    background-color:black;
    color:white;
}

a:link {  Pseudoclase para las A no abiertas
    color:green;
}

a:visited {Pseudoclase para las A visitadas 
    color:purple;
}

input:focus {  Pseudoclase para cuando clickeas un input 
    outline:2px solid #3498db;
    background-color: #e8f4f8;
}

li:first-child{ Pseudoclase para el primer elemento de algo
    color:green;
    font-weight:bold;
}

li:last-child{ Pseudoclase para el ultimo elemento de algo
    color:red;
    font-weight:bold;
}

tr:nth-child(even) {
    background-color: gray;
}

.quote::after {
    content:'"';
    color:blue;
    font-size:18px;
}

.quote::before {
    content:'"';
    color:blue;
    font-size:18px;
}  */

