/* Santiago Muñeton Hernandez - 25/01/2026 */





/* 0. Importación para Fuente by google fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');




/* 1. Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* El body siempre trae un margin que casi nunca queremos */
body {
    margin:0;
}

/* Suvizante de scroll */
html {
    scroll-behavior: smooth;
}





/* 2. Variables CSS */
:root {
    /* Colores Base */
    --color-black: #000000;
    --color-gray: #e5e5e5;
    --color-gray-dark: #bdbdbd;
    --color-white: #ffffff;

    /* Texto e Iconos */
    --text-primary: var(--color-black);
    --icon-primary: var(--color-black);

    /* Tipografía */
    --font-primary: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    /* Fondos */

    --bg-page: var(--color-white);

    /* Header */
    --bg-header: linear-gradient(
        to bottom,
        var(--color-gray),
        var(--color-white)
    );

    /* Interacciones */

    --hover-bg: var(var(--color-gray));
    --hover-text: var(--color-black);
}






/* 3. Body */

body {
    font-family: var(--font-primary);
    font-weight: var(--font-weight-regular);
    font-size: 16px;
    line-height: 1.6;

    color: #000;
    background-color:#F8F8F8;;

    min-height: 100vh;
}






/* 4. Header */

.header {
    display: flex;
    flex-direction:row;
    align-items: flex-start;

    gap: 3rem;
    /* max-width: 1200px; */
    margin: 0 auto;
    padding: 1rem 2rem;

    background: linear-gradient(
        to top,
        #1c1c1c00,
        #bfbfbf 
    );
}

.header__content {
    display:flex;
    flex-direction:row;

    justify-content: center;
    margin: 0 auto;
    gap: 1.25rem;
}

.intro {
    max-width: 65ch; 
}

.header__content .nav {
    margin-top:1rem;
}

.nav__section {
    list-style: none;
    padding: 0px;
    margin: 0px;
    display:flex;
    gap: 1.5rem;
}

.nav__section a {
    display: inline-flex;
    align-items:center;
    gap: 0.5rem;

    text-decoration: none;
    color: #000;
    font-size: 0.95rem;

    border:1px solid transparent;
    padding:0.25rem 0.5rem;
    transition: 0.5s;
    border: 1px solid var(--color-gray-dark);
    border-radius: 5px;
}

.nav__section a:hover {
    opacity: 0.8;
    border: 1px solid var(--color-black);
    border-radius: 5px;
}

.nav__section span {
    font-weight: var(--font-weight-regular);
}

.nav__section .icon {
    width:24px;
    height:24px;
}

.profile {
    display:flex;
    flex-direction:column;
    align-items:center;
    gap: 0.75rem;

    flex-shrink: 0;
    margin-top:4rem;
}

#profile-image {
    width: 320px;
    height: auto;
    border: 1px solid var(--color-gray-dark);
    border-radius: 4px;
}

.profile_email a {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    
    text-decoration: none;
    color: #000;
    font-size: 0.9rem;

    transition: 0.5s;
}

.profile_email a:hover {
    opacity: 0.8;
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .header__content {
        flex-direction: column;
        gap: 2rem;
    }

    .intro {
        display:flex;
        flex-direction:column;
        align-items: center;
        justify-content: center;
    }
    .nav__section {
        flex-direction: row;
        gap: 1rem;
    }

    .profile {
        margin-top: 2rem;
    }

    #profile-image {
        width: 100%;
        max-width: 320px;
    }
}











/* main - projects - intro */

.main {
    max-width: 1200px;
    margin: 0 auto;
    padding:0.5rem 6.5rem;
    background-color: #F8F8F8;
}

.projects-intro {
    max-width: 65ch;
    margin-bottom:3rem;
}

.projects-intro h2 {
    font-size: 1.7rem;
    font-weight: var(--font-weight-semibold);
    margin-bottom: 1rem;
}

.projects-intro p {
    font-size: 1rem;
}

#link-repo {
    color: var(--color-black);
    font-weight: var(--font-weight-regular);
    text-decoration: none;
    border-radius:10px;
    border:1px solid transparent;
    transition: all 1s;
}

#link-repo:hover {
    border-radius:10px;
    border:1px solid var(--color-gray-dark);
    opacity: 0.8;
}

@media (max-width: 768px) {
    .main {
        padding:1rem 2rem;
    }

    .projects-intro {
        text-align: center;
    }

    .projects-intro ul {
        padding:0;
        margin:0;
    }

    .projects-intro li {
        margin:0px 0px 1rem 0px;
        list-style: none;
        border-bottom: 1px solid var(--color-gray-dark);
        padding:0;
    }
}





/* Projects */

.projects h2{
    color: var(--color-black);
    font-weight: var(--font-weight-bold);
    margin:1rem auto;
}

.project-item {
    margin: 1rem auto;
    display:flex;
    flex-direction:row;
    background: #F8F8F8;
    gap:2rem;
}

.project-image {
    padding: auto;
    margin: auto;
}

.project-item img {
    width: 400px;
    height: auto;
    border-radius:5px;
}

.project-content {
    max-width: 65ch;
    margin-bottom: 1.5rem;
}

.project-links {
    display:flex;
    flex-direction:row;
    gap: 1.5rem;
    margin-top: 1rem;
}

.project-links a {
    text-decoration: none;
    color: var(--color-black);
    font-weight: var(--font-weight-medium);

    border:1px solid transparent;

    padding:0.5rem 1rem;

    transition: all 0.5s;

    border: 1px solid var(--color-gray-dark);
    border-radius: 5px;
}

.project-links a:hover {
    opacity: 0.8;
    border: 1px solid var(--color-black);
    border-radius: 5px;
}

@media (max-width: 768px) {
    .projects h2 {
        border-bottom:1px solid var(--color-gray-dark);
    }
    .project-item {
        flex-direction: column;
        align-items: center;
        text-align: center;
        border-bottom:1px solid var(--color-gray-dark);
    }

    .project-item img {
        width: 100%;
        max-width: 400px;
    }

    .project-links {
        justify-content: center;
    }
}