/* * {
    margin:0;
    padding:0;
} */

/* La etiqueta * en CSS define las propiedades 
de estilo en TODOS LOS ELEMENTOS en el HTML */

/* Para este proyecto no la necesitamos asi que: */

body { /* Es el padre de todo el contenido en el HTML */
    margin:0;
    padding:0;
       /* Los navegadores cuando inician nos dan ciertos estilos por defecto por lo que
       les da cierto margin y cierto padding (Esto podemos mirarlo en las DEV TOOLS)  */
    font-size:13px;
        /* Tamaño de la letra */
    font-family:Arial, Helvetica, sans-serif;
        /* Fuente de la letra */
    background-color: #fefff2;
}

a {
    text-decoration:none; /* De forma global no quiero que ninguna etiqueta A tenga subrayado por debajo. */
    cursor:pointer;
}

header {
    width:100%; /* El header se encuentra en todo el width de la pantalla */
    height:60px; 
}

/* Gracias al HTML semantico podemos ubicar dentro de header la etiqueta 
NAV sin problemas porque tenemos una ruta especifica evitando
modificar el estilo de otra propiedad con la misma dirección o referencia. */

header nav {
    display:flex; /* Esto lo hacemos para poder justificar*/
    justify-content:flex-end; /* Posiciona los elementos a la derecha */
    height: inherit;

}

header nav .nav-right-section { /* Con esto aseguramos una referencia más precisa. */
    width: 250px; /* Tiene un tamaño por defecto este elemento.*/

    height: auto; /* Por como el elemento padre (header) tiene un height, lo dejamos
                        en auto para se adapte sólo a este tamaño.*/

    display: flex; /* Lo agregamos para poder definir el posicionamiento ahora de cada
                         elemento en la lista UL haciendolos unos al lado de otros.*/

    list-style:none; /* Nos quita los estilos de lista (Los puntos de lista) */        
    justify-content: center;
    align-items: center; /* Alinea cada uno de los elementos para que no se quede arriba*/
}

    /* Ahora los elementos NAV estan todos juntos, sin separación por lo que: */

nav .nav-right-section a { /* Por HTML semantico fue facil encontrar este elemento*/
    margin-right: 10px;
    color: #000000;
}
    /* Ahora para las imagenes ICON */
nav .nav-right-section .menu-icon {
    background-image:url("https://static.thenounproject.com/png/756729-200.png"); /* Enlace de la imagen */
    background-repeat:no-repeat; /* Para evitar que se repita esta IMAGEN al tratar de llenar el espacio*/
    background-position: center; /* Quiero que la imagen este al centro */
    background-size:contain; /* Para que tome el tamaño de mi contenedor */
    width: 25px; /* Ancho de la imagen */
    height: 25px; /* Alto de la imagen */
}

    /* Imagen PHOTO-Profile-User */

nav .nav-right-section img {
    border-radius:50%; /* Hace circular esa imagen */
    margin-left:10px; /* Separación de esta imagen photo user profile con la ICON*/
    width: 32px;
    height: 32px;
}

main {
    margin-top:150px; /* Espacio para separarlo de la etiqueta header*/
    text-align:center; /* Alinear todos los items al centro */
}

main .main-logo {
    width:544px;
    margin:0 auto; /* Toma el porcentaje de espacio que le queda del contenedor padre y se ajusta automaticamente hacia el centro */
    margin-bottom: 35px;
}

main .main-logo img{
    width:404px;
    height:184px;
}

/* Estilos para contenedor padre del INPUT */

main .main-input {
    width:530px;
    margin:0 auto;   
    margin-bottom:35px;
}

/* Estilos para el INPUT de busqueda */

main .main-input-container {
    width: 525px;  
    border-radius:100px; /* Nos permite agregarle un toque circular al input */
    border:1px solid #dfe1e5; /* Color del borde del input*/
    display:flex;
    justify-content: center;
}

main .main-input input {
    width:450px;
    height:40px;
    border:none; /* Quita el borde predeterminado del INPUT */
    outline:none; /* Quita que al seleccionar el INPUT se haga un borde de color azul predeterminado*/
}

main .main-input-container:hover {
    box-shadow: 0 1px 6px 0 #20212447; /*Agrega la sombra al input al pasar el cursor por encima*/
    border-color: #dfe1e500; 
}

/* Estilos de imagenes a los laterales del INPUT */

main .main-input .search-icon {
    background-image:url("./search-icon.svg");
    background-repeat:no-repeat;
    background-position: center;
    background-size: contain;
    width:18px;
    height:18;
}

main .main-input .micro-icon {
    background-image:url("./micro-icon.svg");
    background-repeat:no-repeat;
    background-position: center;
    background-size: contain;
    width:18px;
    height:18;
    cursor:pointer;
}

/* Estilos botones abajo finalizando sección MAIN */

main .main-buttons{
    width:530px;
    margin:0 auto;
}

main .main-buttons div {
    display:inline-block; /* Esto junta un button al lado del otro por el elemento padre*/
}

main .main-buttons button{
    height:36px;
    background-color:#f2f2f2;
    border:0; /* Se le quita el borde que tiene por defecto*/
    font-size:14px;
    color: #5f6368;
    border-radius:5px;
    padding:0px 15px; /*Espacio Interno de los elementos con su contenedor padre*/
    margin-right:15px; /* Separación de un elemento con el otro*/
}

main .main-buttons button:hover{
    border:1px solid #c6c6c6;
    box-shadow: 0 1px 1px 0px #000005;
}

/* Estilos del Footer */

footer {
    width:100%;
    height:50px;
    position:absolute; /*Aseguramos que el footer se quede todo el tiempo debajo de la pagina*/
    bottom:0px; /* Aseguramos otra vez*/

    /* GRID */

    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    align-items: center;
    font-size:13px;
    background-color:#bbc975;
    border-top:1px solid #2a01f8;
}

footer ul{
    margin:10px;
    list-style: none;
    display:flex;
    padding-left:0;
}

/* Posicionamiento de cada uno de los enlaces */

footer .footer-left{
    justify-self: left;
}

footer .footer-center{
    justify-self: center;
}

footer .footer-right{
    justify-self: right;
}

footer ul li a {
    margin:10px;
    color:#2a01f8;
}